<link href="{{ url_for('static', filename='css/jquery.terminal.css') }}" rel="stylesheet"/>
<h2>Mushy Web Client</h2>
<div id="mushy_client"></div>

<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.terminal-0.6.3.js') }}"></script>
    
<script>
jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", 100 + "px");
    this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + 
                                                $(window).scrollLeft()) + "px");
    return this;
};

$('#mushy_client').css("height", 400);
$('#mushy_client').css("width", 800);
$('#mushy_client').center();

jQuery(function($, undefined) {
    var uid = undefined;
    var source = undefined;

    var t = $('#mushy_client').terminal(function(command, term) {
        if (command !== '') {
        	if (source === undefined) {
        		term.error("Client is not connected to Mushy.");
        	}
            try {
                $.getJSON($SCRIPT_ROOT + '/_send', {
                    'line': command,
                    'uid': uid
                });
            } catch(e) {
                term.error(new String(e));
            }
        } else {
           term.echo('');
        }
    }, {
        greetings: 'Welcome to the Mushy Web Client\n' + 
                   'Please note that this is a PROTOTYPE CLIENT, and there are several known issues with coloring and formatting.\n' +
                   'After you see the "1", type in your username.\n',
        name: 'mushy_client',
        height: 400,
        width: 800,
        prompt: '> ',
        onExit: function(term) {
        	if(uid !== undefined && uid !== 0) {
        		$.getJSON($SCRIPT_ROOT + '/_send', {
                    'line': "logout",
                    'uid': uid
                });	
        	}
        }
    });


    $.getJSON($SCRIPT_ROOT + '/_register', {},
        function(data) {
            uid = (data["uid"]);
            if (uid === 0) {
            	t.echo("Mushy is currently DOWN. Try again later!");
            }
            else {
            	source = new EventSource('/stream?uid=' + uid);
            	source.onmessage = function(event) {
                    if (event.data === "1") {
                        t.echo("Connection with server established. Enter in your username.");
                    } else {
                        t.echo(event.data);    
                    }
            	};	
            }
        });

    window.onbeforeunload = function (e) {
        t.exec("logout");
    };


});
</script>